<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert</title>
</head>

<body>
	<form action="insert" method="post">
		Name:<input type="text" name="name"><br> Mobile:<input type="text" name="mobile"><br> Dob:<input type="date"
			name="dob"><br> Marks<br> Maths:<input type="text" name="maths"><br> Science:<input type="text"
			name="science"><br> English:<input type="text" name="english"><br>
		<button>Add</button>
		<button type="reset">Cancel</button>
	</form>
</body>

</html>